.foto {
    transition: box-shadow 0.3s;
}

.foto:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.talen tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.werkervaring {
    list-style: none;
    padding: 0;
}
